<html>
    <head>
        <title>Directions</title>
    </head>
    <body>
    <h1 align="center"><font size="6"> {{ form.statement[0] }} </font></h1>
    <h1 align="center"><font size="6"> {{ form.statement[1] }} </font></h1>
    <h1 align="center"><font size="6"> {{ form.statement[2] }} </font></h1>
    <h1 align="center"><font size="6"> {{ form.statement[3] }} </font></h1>
    <form action="fptp">
        <input type="submit" value="I want to vote" style="height:200px;width:400px;margin:auto;display:block"/>
    </form>
    </body>
</html>